*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.whole-box{
    width: 500px;
    height: 500px;
    border: 1px solid #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.whole-box h2{
    text-align: center;
    width: 100%;
    height: 40px;
    border: 3px solid black;
}
.button-box{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-box div button{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
}
.button-box div .clickme{
    background-color: rgb(4, 135, 187);
}
.button-box div .resett{
    background-color: red;
}
.button-box div .cat-generator{
    background-color: green;
}
.flex-box-container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.flex-box-container-2 img{
    box-shadow: 2px 4px 5px #111;
    margin: 10px;
    width: 100px;
}